.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid var(--color-primary-hover);

    &__right {
        display: flex;
        align-items: center;
        gap: 16px;

        & .header__buttons {
            display: flex;
            align-items: center;
            border-right: 1px solid var(--color-primary-hover);
            padding-right: 8px;

            & .header__button {
                padding: 4px 8px;

                & svg {
                    fill: var(--color-title-secondary);
                    stroke: var(--color-title-secondary);
                }
            }
        }

        & .header__user {
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--color-title-secondary);
            font-size: 14px;
            font-weight: 600;
        }
    }
}